@charset "utf-8";
/*mostly serifs*/
body {
    font-family: Serif;
}

/*no serifs in headings */
h1, h2, h3, h4, h5, h6, h7, h8 {
    font-family: Sans-Serif;
    color: green;
}

h1 {
    text-align:center;
}

em {
    color: red;
    font: inherit;
}

/*Garish colours, so that we can see what is going on*/
:root {
    --nav_background: rgba(200,255,200,0.85);
}
body {background-color: #eee;}
nav {background-color: var(--nav_background);}
aside {background-color: #fff;}
footer {background-color: #afa;}
header {background-color: #faa;}
article {background-color: #ffa;}
nav ul li:hover {
    background-color: #fff;
}

/*************************************************************************/
/*Layout*/
/*************************************************************************/

/*reset from kevin powell*/
*. *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-weight: 400;
}

/*show selection*/
section:target {
    display: block;
}
section {
    display: none;
}

/*Nav*/
header {
    display: none;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

:root {
    --gap: min(1vw,2ex);
}
article, nav{
    padding: var(--gap);
}

main {
    max-width: 60em;
}

@media (min-width:600px) {
    body {
        display:grid;
    }

    body {
        grid-template-columns:
            minmax(min-content, min(20em,20%)) var(--gap) [content-start] 1fr [content-end] 1em;  
    }
    main {
        grid-column: content;
    }
}

