@charset "utf-8";

:root {
    --background0: #ddd;
    --shadow0: #888;
    --background: #f7fff7;
    --colour2: green;
    --colour1: black;
    --highlight_colour: red;
    
    --hover_bg_colour: var(--colour2);
    --hover_fg_colour: var(--background); 
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --background0: #030;
        --background: black;
        --colour2: lightgreen;
        --colour1: white;
        --glow: var(--colour2);
    }
    a {color: lightblue;}
    a:visited {color: lightskyblue;}
}

/*mostly serifs*/
body {
    font-family: Serif;
    color: var(--colour1);
}

/*no serifs in headings */
h1, h2, h3, h4, h5, h6, h7, h8 {
    font-family: Sans-Serif;
    color: var(--colour2);
}

h1 {
    text-align:center;
}

em {
    color: var(--highlight_colour);
}


//body {background-color: var(--background0);}
nav, article {
    background-color: var(--background);
    border: 2px solid var(--colour2);
}
article{
    border-radius: 25px;
}
nav a:hover {
    background-color: var(--hover_bg_colour);
    color:            var(--hover_fg_colour);
}

/*************************************************************************/
/*Layout*/
/*************************************************************************/

/*reset from kevin powell*/
*. *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
}

article, nav, img {
    max-width: 100%;
}
article{
    zzwidth: clamp(20em, 100%, 60em);
    max-width: 80em;
}

/*show selection*/
section:target {
    display: block;
}
@media screen {
    section {
        display: none;
    }
}

/*Nav*/
nav ul {
    list-style-type: none;
    padding-left: 0;
}

:root {
    --gap: min(1vw,2ex);
}
article, nav{
    padding: var(--gap);
}

article {
    margin-bottom: 1em;
}

@media (min-width:600px) {
    body {
        display:grid;
    }

    body {
        grid-template-columns:
            [nav-start] minmax(min-content, min(20em,20%)) [nav-end content-start] 1fr [content-end];  
    }
    article {
        margin: 1em;
        box-shadow: 5px 10px var(--shadow0);
    }
    
    main {
        grid-column: content;
    }
    header,nav{
        grid-column: nav;
    }
    nav{
        /*not sure if done right: will it work on all browsers*/
        /*clips if screen too short, or nav too long*/
        zzzzposition: sticky;
        top: 0;
        height: min-content;
        box-sizing: border-box;
    }
    .article-box{
        width: 100%; 
        display: flex;
        /*auto-fix or auto-fill for grid*/
        grid-template-columns: repeat(auto-fit, minmax(40em, auto));
    }
}
@media screen and (prefers-color-scheme: dark) and (min-width:300px) {
    article{
        border-style: none;
        box-shadow: 0 0 2px var(--colour1), 0 0 20px 5px var(--glow)
    }
}

@media (max-width: 600px) {
   nav,article{
        border-right-style: none;
        border-left-style: none;
    }
    nav {
        border-top-style: none;
    }  
}
@media (max-width: 300px) {
    article, nav {
        padding: 0;
    }
    nav,article{
        border-radius: inherit;
    }
}
