@charset "utf-8";
/*mostly serifs*/
body {
    font-family: Serif;
}

/*no serifs in headings */
h1, h2, h3, h4, h5, h6, h7, h8 {
    font-family: Sans-Serif;
    color: green;
}

h1 {
    text-align:center;
}

em {
    color: red;
    font: inherit;
}

/*Garish colours, so that we can see what is going on*/
:root {
    --nav_background: rgba(150,255,190,0.85);
}
body {background-color: #eee;}
nav {background-color: var(--nav_background);}
aside {background-color: #fff;}
footer {background-color: #afa;}
header {background-color: #faa;}
article {background-color: #ffa;}
nav ul li:hover {
    background-color: #fff;
}

/*************************************************************************/
/*Layout*/
/*************************************************************************/

/*reset from kevin powell*/
*. *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-weight: 400;
}

/*show selection*/
section:target {
    display: block;
}
section {
    display: none;
}

/*Nav*/
header {
    width: 100%;
    display: none;
}
nav {
    width: 100%;    
}
nav ul {
    %display: grid;
    %gap: 1rem;
    %grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
    padding-left: 0;
}
nav li {

}
